html {
    font-size: 40px;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
}
 
.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.clock__box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 3rem;
    width: 9rem;
    color: #2da4db;
    font-weight: 500;
}

.time {
    color: #2da4db;
    font-weight: 500;
}